body {
    background-color: whitesmoke;
}

header {
    background-size: cover;
    background-image: url("../images/image-1.jpeg");
    font-size: 150px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    text-align: center;
    color: yellow;
}

h2 {
    color: white;
}

.title {
    font-family: Georgia;
    display: inline;
}

.blue {
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}